<div class="container-fluid">
  <% if notice %>
  <div id="error_explanation" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 id="notice"><%= notice %></h4>
  </div>
  <% end %>

  <%= render partial: @post %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Destroy', '#', data: { toggle: 'modal', target: '.delete-modal' } %> |
  <%= link_to 'Back', posts_path %>

  <%= render partial: "delete_modal", object: @post %>
</div>
