<!DOCTYPE html>
<html>
<head>
  <title>Aaron Dilley</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/assets/ad_32.png" type="img/png">
  <link rel="shortcut icon" href="/assets/ad_32.png" type="img/png">
  <link rel="apple-touch-icon-precomposed" href="/assets/ad_128.png" type="img/png">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "http://aarondilley.com/feed.rss") %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">Aaron Dilley</div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <input type="checkbox" id="toggleNav" />
        <label for="toggleNav"><i class="fa fa-chevron-down"></i></label>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- Remove if block when projects section is ready -->
        <% if false %>
        <%= content_tag :li, class: ("active" if current_page?(controller: "projects")) do -%>
          <%= link_to "Projects", { controller: "projects" } %>
        <% end -%>
        <% end %>
        <%= content_tag :li, class: ("active" if current_page?(controller: "posts")) do -%>
          <%= link_to "Blog", { controller: "posts" } %>
        <% end -%>
        <%= content_tag :li, class: ("active" if current_page?(controller: "bio")) do -%>
          <%= link_to "Bio", { controller: "bio" } %>
        <% end -%>
      </ul>
      <%= form_tag "/blog/search", method: "post", role: "search", class: [ "navbar-form", "navbar-right" ] do %>
        <div class="form-group col-xs-10 col-sm-10">
          <%= text_field_tag "query", nil, placeholder: "Search", class: [ "form-control", "input-sm" ] %>
        </div>
        <button type="submit" class="btn btn-default btn-sm">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      <% end %>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
